<h3>Home</h3>
<h1> Yo fill out this form</h1>
<form action = "/submitdatshit" method="post">
  First name:<br>
  <input type="text" value="{{firstname}}" name="firstname"><br>
  Last name:<br>
  <input type="text" value = "{{lastname}}" name="lastname"><br>
  Menu Item of da day:<br>
  <input type="text" value="{{menuitem}}"name="menu"><br>
  <button class="btn">CLICK 2 dodat stuff</button>
</form>
<br />
