<h3>Home</h3>
<h1> Yo fill out this form</h1>
<h1>blahsdlasbfsafhaoasfas
  sfhsafasufsaf
  THIS IS FILLER YOYOYO </h1>
<form id="butterbar" action = "/submitdatshit" method="post">
  First name:<br>
  <input type="text" id="firstname" value="{{firstname}}" name="firstname"><br>
  Last name:<br>
  <input type="text" id="lastname" value = "{{lastname}}" name="lastname"><br>
  Menu Item of da day:<br>
  <input type="text" id="menuitem" value="{{menuitem}}"name="menu"><br>
  <button class="btn">CLICK 2 dodat stuff</button>
</form>
<br />
