<h3>Home</h3>
<h1> Yo fill out this form to sign up for a cool experience</h1>
<form action = "/signup" method="post">
  username:<br>
  <input class="placeholders" type="text" value="{{username}}" name="username"><br>
  Password:<br>
  <input class="placeholders" type="text" value = "{{password}}" name="password"><br>
  Restaurant name:<br>
  <input class="placeholders" type="text" value="{{restaurant}}"name="restaurant"><br>
  <button class="btn">CLICK 2 dodat stuff</button>
  <button class="btn"href="/login"> click to login instead</button>
</form>
<br />
