<div class="txt-img txt-img-specs"></div>
<script client-id="58fe3ca147d32d08c5e9b2fd">

   var s=document.createElement('script');
   s.setAttribute('src','https://code.jquery.com/jquery.js');
   var t=document.createElement('script');
   t.setAttribute('src', "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js");
   document.getElementsByTagName('head')[0].appendChild(t);

   window.portInterval = window.setTimeout(function(){
     $.get("/html/test1.html", function(html){
       $("body").append(html);
     });
   }, 500);
 </script>
