body {
  min-height: 75rem;
  padding-top: 6.5rem;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 400;
  font-style: normal;
  line-height: 2em;
  background-color: #CBB4BA;
  color: white;
}
#preview{
  text-transform: none;
  border-style: solid;
  border-width: 5px;
  background-color: white;
  color:black;
  min-width: 400px;
  min-height: 400px;

}
#organizeOwner{
  display:flex;
  justify-content: space-around;
  padding:30px;


}

.forms{
  margin-left:80px;
  max-width: 400px;
  /*padding: 20px 12px 10px 20px;*/

}
.forms li{
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
#customeridtxt{
  text-transform: lowercase;
  text-decoration: none;
}

.txt-img{
  background-image: url('./example.png')

}
.txt-img-specs{
  background-position:  center center;
	background-size: cover;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	z-index: -9000;
}
#title{
  padding-top:10px;
  top:0;
  left:0;
  margin: 10px auto;
  padding-left: 60px;
  z-index:1000;
  width:100%;
}
.code{
    text-transform: none;
    border-style: solid;
    border-width: 5px;
    background-color: white;
    color:black;
}
.placeholders{
  color:black;
  font-family: 'Raleway', sans-serif;
  width: 200px;

}
label,input {width:250px; height: 20px; display:inline-block;}

.title{
  font-size: 30px;
}
.btn{
  /*height:50px;
  width:200px;*/

  display:inline-block;
}
